@import './libs/reset';
@import './shared';

html,
body,
#__next {
    min-height: 100%;
}

body {
    font-family: $font;
    background-color: $gray;
}

h1 {
    font-size: 48px;
}

a {
    color: inherit;
    text-decoration: none;
}
