@import '/sass/shared';

.cardWrap {
    $cardWidth: 33.333%;

    flex: 1 1 $cardWidth;
    max-width: $cardWidth;
    padding: 32px;
}

.userCard {
    position: relative;
    padding: 44px 32px;
    border-radius: $borderRadius;
    background-color: $white;
    transition: all 200ms ease-in-out;

    &:hover {
        box-shadow: 0 0 6px 1px rgba($black, 0.05);
        // show delete action on hover
        .deleteAction {
            opacity: 1;
            z-index: 1;
        }
    }
}

// Actions
.deleteAction,
.editAction {
    position: absolute;
    top: 0;
}

.deleteAction {
    left: 0;
    opacity: 0;
    z-index: -1;
    transition: all 200ms ease-out;
}

.editAction {
    right: 0;

    img {
        filter: invert(1);
        transition: all 200ms ease-out;
    }

    &:hover {
        img {
            filter: invert(0);
        }
    }
}

.content {
}

.photoBox {
}

.photo {
    @include flexCenter;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    overflow: hidden;
    background-color: $gray;

    img {
        width: 100%;
    }
}

.details {
    padding-top: 28px;

    .name {
        display: flex;
        justify-content: space-between;
    }
    .date {
        span {
            color: $red;
            font-weight: bold;
        }
    }
    .desc {
        padding-top: 8px;
    }
}

/* Responsive layout
-----------------------------------------------*/
@include largeScreen {
    // .cardWrap {
    //     $cardWidth: 33.333%;

    //     flex-basis: $cardWidth;
    //     max-width: $cardWidth;
    // }
}
