@font-face {
    font-family: 'source_sans_prolight';
    src: url('/fonts/sourcesanspro-light.woff2') format('woff2'),
        url('/fonts/sourcesanspro-light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'source_sans_prosemibold';
    src: url('/fonts/sourcesanspro-semibold.woff2') format('woff2'),
        url('/fonts/sourcesanspro-semibold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
