@import '/sass/shared';

.users {
    overflow: hidden;
}

.header,
.grid,
.footer {
    display: flex;
}

.header {
    justify-content: space-between;
    align-items: center;

    .search {
        // padding-left: 32px;
    }

    .addAction {
        // margin-left: auto;
    }
}

.grid {
    flex-wrap: wrap;
    margin: 32px -32px;
}

.footer {
    justify-content: center;
}
