@import '/sass/shared';

.users {
    overflow: hidden;
}

.header,
.grid,
.footer {
    display: flex;
}

.header {
    justify-content: space-between;
    align-items: center;

    .search {
        // padding-left: 32px;
    }

    .addAction {
        // margin-left: auto;
    }
}

.grid {
    flex-wrap: wrap;
    margin: 32px -32px;
}

.footer {
    justify-content: center;
}

.pageBreak {
    display: block;
    width: 100%;
    text-align: center;
    // background-color: rgba(red, 0.1);

    .number {
        color: darken($grayMedium, 30);
    }
}

/* Responsive layout
-----------------------------------------------*/
@include largeScreen {
    .grid {
        margin-left: -16px;
        margin-right: -16px;
    }
}

@include mediumScreen {
    .grid {
        margin-left: -8px;
        margin-right: -8px;
    }
}
