@import '/sass/shared';

.input {
    min-width: 400px;
    max-width: 620px;
    padding-bottom: 32px;

    &:last-child {
        padding-bottom: 0;
    }

    &,
    input {
        width: 100%;
    }

    input,
    .error {
        transition: all 200ms ease-in-out;
    }

    input {
        height: 64px;
        padding: 0 16px;
        line-height: 64px;
        border: thin solid $grayMedium;
        border-radius: $borderRadius;
    }

    .textWrap {
        display: flex;
        justify-content: space-between;
    }

    .labelText {
        font-family: $fontBold;
        font-size: 18px;
        text-transform: capitalize;
        padding-bottom: 8px;
    }

    .error {
        font-size: 15px;
        font-family: $fontBold;
        color: $redBright;
        opacity: 0;
        z-index: -1;

        &::first-letter {
            text-transform: capitalize;
        }
    }

    label {
        &,
        .labelText {
            display: block;
        }
    }

    // Input error status
    &.hasError {
        input {
            border-color: $redBright;
        }
    }
}
