@import '/sass/shared';

.page {
    position: relative;
    min-height: 100%;
    max-width: 1920px;
    margin: 0 auto;
    padding: 60px 40px;
}

/* Responsive layout
-----------------------------------------------*/
@include mediumScreen {
    .page {
        padding-left: 20px;
        padding-right: 20px;
    }
}
