@import '/sass/shared';

.button {
    position: relative;
    display: inline-block;
    height: 64px;
    width: 180px;
    border: thin solid $grayMedium;
    background-color: $white;

    &,
    & > button {
        font-size: 20px;
        text-transform: uppercase;
        border-radius: $borderRadius;
        overflow: hidden;
        transition: all 200ms ease-in-out;
    }

    button {
        @include relativeFullSpace;
        @include flexCenter;
        margin: 0;
        padding: 0;
        border: none;
        background-color: transparent;
        z-index: 2;
    }

    .iconWrap,
    .text {
        display: inline-block;
        line-height: 1em;
    }

    .iconWrap {
        height: 20px;
        margin-top: -6px;
        padding-right: 8px;
        img {
            height: 100%;
        }
    }

    // Button weight/style
    &.primary {
        background-color: $white;
    }
    &.secondary {
        background-color: $gray;
    }
    &.icon {
        background-color: transparent;

        &,
        & > button {
            border-radius: 0;
        }

        .iconWrap {
            padding-right: 0;
        }
    }

    // Button size
    &.large {
        height: 90px;
        width: 280px;
        border: 2px solid $grayMedium;

        &,
        & > button {
            font-size: 24px;
        }
    }
    &.small {
        height: 48px;
        width: 48px;
    }

    // Button width
    &.full {
        width: 100%;
        max-width: 440px;
    }

    // Border
    &.removeBorder {
        border: none;
    }

    // Disable status
    &.disabled {
        background-color: darken($gray, 4);

        button {
            color: lighten($black, 70);
        }
    }

    // Animation
    .background {
        display: block;
        @include absoluteFullSpace;
        left: 101%;
        background-color: darken($gray, 2);
        z-index: 1;
    }
}
