@import '/sass/shared';

.userEditModal {
    display: none;
    opacity: 0;
    @include fixedFullSpace;
    z-index: 10000;
}

.modal {
    position: absolute;
    min-width: 300px;
    min-height: 300px;
    padding: 64px;
    transform-origin: center center;
    z-index: 10;
    border-radius: $borderRadius;
    background-color: $gray;
}

.backdrop {
    @include absoluteFullSpace;
    z-index: 0;
    background-color: rgba($black, 0.3);
}
