@import '/sass/shared';

.userEditModal {
    display: none;
    opacity: 0;
    @include fixedFullSpace;
    z-index: 10000;
}

.modal {
    position: absolute;
    width: 100%;
    max-width: 1200px;
    padding: 64px;
    transform-origin: center center;
    z-index: 10;
    border-radius: $borderRadius;
    background-color: $gray;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 64px;

    h1 {
    }

    .close {
    }
}

.content {
    display: flex;

    .mapWrap,
    .form {
        flex: 1 1 50%;
    }
}

.mapWrap {
    padding-right: 60px;

    .mapRatio {
        position: relative;
        width: 100%;
        padding-bottom: 70%;
    }

    .map {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: $borderRadius;
        background-color: $white;
        overflow: hidden;
    }
}

.form {
    .formInputs {
    }
}

.actions {
    display: flex;
    padding-top: 64px;
    padding-left: 50%;

    .btnWrap {
        width: 50%;

        &:first-child {
            padding-right: 32px;
        }
        &:last-child {
            padding-left: 32px;
        }
    }
}

.backdrop {
    @include absoluteFullSpace;
    z-index: 0;
    background-color: rgba($black, 0.3);
}
